html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 245, 255);
    min-height: 100%;
    padding-bottom: 60px;
    position: relative;
}

.footer {
    background-color: rgb(238, 245, 255);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 0px;
    text-align: center;
}

.whitespace { 
    display:inline-block; 
    margin-left: 20px; 
}

.navbar-custom {
    background-color: rgb(153, 197, 255);
}

.navbartext {
    margin: 5px; 
    color:white;
}

.editbutton {
    cursor: pointer;
    background-color: rgb(175, 76, 76);
    color: white;
    font-size: 12px;
    border: none;
}

.threadbutton {
    cursor: pointer;
    background-color: rgb(110, 132, 255);
    color: white;
    font-size: 14px;
    border: none;
}

.deletebutton {
    cursor: pointer;
    background-color: rgb(175, 76, 76);
    color: white;
    border: none;
    font-size: 16px;
    margin: 0px 0px 10px 0px
}

.navbutton {
    cursor: pointer;
    background-color: rgb(110, 132, 255);
    color: white;
    border: none;
    font-size: 16px;
    margin: 0px 0px 10px 0px
}

.submitbutton {
    cursor: pointer;
    background-color: rgb(110, 132, 255);
    color: white;
    border: none;
    font-size: 16px;
    margin: 4px 0px 10px 0px
}

.inlineform {
    display: inline;
}

.lesspaddedheader {
    margin: 10px 0px 10px 0px;
}

.anon-name {
    color:teal;
}

.mod-name {
    color:firebrick;
}

.thread-title {
    color:blue;
}

.message-container {
    background-color: rgb(215, 232, 255);
}

.message-text {
    padding: 0px;
    margin: 2px;
    width: 800px;
    overflow-wrap: break-word;
}

.message-active {
    background: rgb(241, 152, 152);
}