body {
    background-color: rgb(238, 245, 255);
}

.navbar-custom {
    background-color: rgb(153, 197, 255);
}

.editbutton {
    background-color: rgb(175, 76, 76);
    color: white;
    font-size: 12px;
    border: none;
}

.navbutton {
    background-color: rgb(110, 132, 255);
    color: white;
    border: none;
    font-size: 16px;
    margin: 0px 0px 10px 0px
}

.inlineform {
    display: inline;
}

.lesspaddedheader {
    margin: 10px 0px 10px 0px;
}

.anon-name {
    color:teal;
}

.mod-name {
    color:firebrick;
}

.thread-title {
    color:blue;
}

.message-container {
    background-color: rgb(215, 232, 255);
}