body {
    background-color: rgb(238, 245, 255);
}

.navbar-custom {
    background-color: rgb(153, 197, 255);
}

.navbartext {
    margin: 5px; 
    color:white;
}

.editbutton {
    background-color: rgb(175, 76, 76);
    color: white;
    font-size: 12px;
    border: none;
}

.deletebutton {
    background-color: rgb(175, 76, 76);
    color: white;
    border: none;
    font-size: 16px;
    margin: 0px 0px 10px 0px
}

.navbutton {
    background-color: rgb(110, 132, 255);
    color: white;
    border: none;
    font-size: 16px;
    margin: 0px 0px 10px 0px
}

.submitbutton {
    background-color: rgb(110, 132, 255);
    color: white;
    border: none;
    font-size: 16px;
    margin: 4px 0px 10px 0px
}

.inlineform {
    display: inline;
}

.lesspaddedheader {
    margin: 10px 0px 10px 0px;
}

.anon-name {
    color:teal;
}

.mod-name {
    color:firebrick;
}

.thread-title {
    color:blue;
}

.message-container {
    background-color: rgb(215, 232, 255);
}

.message-text {
    padding: 0px;
    margin: 2px;
    width: 800px;
    overflow-wrap: break-word;
}

.message-active {
    background: rgb(241, 152, 152);
}