<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lankku</title>
    <style>
      .editbutton {
        background-color: rgb(175, 76, 76);
        color: white;
        border: none;
      }

      .navbutton {
        background-color: rgb(110, 132, 255);
        color: white;
        border: none;
        font-size: 16px;
        margin: 0px 0px 10px 0px
      }

      .editform {
        display: inline;
      }

      .lesspaddedheader {
        margin: 10px 0px 10px 0px;
      }
    </style>
  </head>

  <body>
    {% block body %}
    <p>
      quality content.
    </p>
    {% endblock %}
  </body>
</html>