{% extends "layout.html" %}
  
{% block body %}
<form>
  <button class=navbutton formaction="{{ url_for('boards_index', board=thread.board_id) }}">return to board</button>
</form>

{% if current_user.is_authenticated %}
<form>
  <button class=deletebutton formaction="{{ url_for('threads_info', thread=thread.id) }}">Edit thread</button>
</form>
<form>
  <button class=deletebutton formaction="{{ url_for('threads_delete', thread=thread.id) }}">Delete thread</button>
</form>
{% else %}
<form>
  <button class=deletebutton formaction="{{ url_for('threads_info', thread=thread.id) }}">Thread info</button>
</form>
{% endif %}

<form class=inlineform method="POST" action="{{ url_for('messages_create', thread=thread.id) }}">
  {{ form.text(rows=1, cols=70) }}
  {{ form.target }}
  <br>
  <input class=submitbutton type="submit" value="Post message"/>
</form>

{% if toomanymessages %}
  <p style="color:firebrick">{{ toomanymessages }}</p>
{% endif %}

{% for error in form.text.errors %}
  <p style="color:firebrick">Text: {{ error }}</p>
{% endfor %}

{% if form.target.data != None and form.target.data != "" %}
  <p style="padding: 2px; display: inline">Replying to message No. {{ form.target.data }}</p>
  <form class=inlineform style>
    <button class=editbutton formaction="{{ url_for('messages_index', thread=thread.id, reply=None) }}">undo reply</button>
  </form>
{% endif %}
<hr style="padding: 5px; margin: 0px">

<b class=thread-title>{{ thread.title }}</b> |
{% if thread.name == "Anonymous" %}
  <b class=anon-name>{{ thread.name }}</b> |
{% else %}
  <b class=mod-name>{{ thread.name }}</b> |
{% endif %}
{{ thread.date_created }} |
Thread No. {{ thread.id }}
<p>{{ thread.text }}</p>

<table>
  {% for supermessage in supermessages %}
  <tr>
    <td>
      <div class="container supermessage-container">
        {% if current_user.is_authenticated %}
        <form class=inlineform>
          <button class=editbutton formaction="{{ url_for('supermessages_delete', super=supermessage.id, thread=thread.id) }}">delete</button>
        </form>
        {% endif %}
        <b style="color: green">Boardwide message</b> |
        <b class=mod-name>{{ supermessage.name }}</b> |
        {{ supermessage.date_created}} | No. {{ supermessage.id}}
        <br style="margin: 1px">
        <p class="message-text">{{ supermessage.text }}</p>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>

<table>
  {% for message in messages %}
  <tr>
    <td>
      <div id="{{ message.id }}" class="container message-container">
        <form class=inlineform>
          <button class=editbutton formaction="{{ url_for('messages_info', message=message.id) }}">
              {% if current_user.is_authenticated %}
                info/edit
              {% else %}
                info
              {% endif %}
          </button>
        </form>
        {% if message.name == "Anonymous" %}
          <b class=anon-name>{{ message.name }}</b> |
        {% else %}
          <b class=mod-name>{{ message.name }}</b> |
        {% endif %}
        {{ message.date_modified}}
        {% if message.date_modified != message.date_created %}
        *
        {% endif %} |
        <a href="{{ url_for('messages_index', thread=thread.id, reply=message.id) }}">No. {{ message.id}}</a>
        <br style="margin: 1px">
        {% if message.reply_target_id != None %}
        <a href="#{{ message.reply_target_id }}"> >>{{ message.reply_target_id }} </a>
        {% endif %}
        <p class="message-text">{{ message.text }}</p>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}