{% extends "layout.html" %}
  
{% block body %}
{% if current_user.is_authenticated %}
<form method="POST" action="{{ url_for('threads_delete', thread=thread) }}">
  <input type="submit" value="Delete thread"/>
</form>
<hr>
{% endif %}

<form method="POST" action="{{ url_for('messages_create', thread=thread.id) }}">
  {{ form.text }}
  <input type="submit" value="Post message"/>
</form>

<ul>
  {% for error in form.text.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>

<b class=thread-title>{{ thread.title }}</b> |
{% if thread.name == "Anonymous" %}
  <b class=anon-name>{{ thread.name }}</b> |
{% else %}
  <b class=mod-name>{{ thread.name }}</b> |
{% endif %}
{{ thread.date_modified }} |
Thread No. {{ thread.id }}

<p>{{ thread.text }}</p>

<table>
  {% for message in messages %}
  <tr>
    <td>
      <div class="container message-container">
        <form class=inlineform>
          <button class=editbutton formaction="{{ url_for('messages_single', message=message.id) }}">info</button>
        </form>
        {% if message.name == "Anonymous" %}
          <b class=anon-name>{{ message.name }}</b> |
        {% else %}
          <b class=mod-name>{{ message.name }}</b> |
        {% endif %}
        {{ message.date_modified}} |
        No. {{ message.id}}
        <br style="margin: 3px">
        <p class="message-text">{{ message.text }}</p>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}