{% extends "layout.html" %}

{% block body %}
<h3>
  /{{ board.tag }}/
</h3>

<table>
  <tr>
    <th>Current threads:</th>
  </tr>
  {% for thread in threads %}
    <tr>
      <td>
        <div class="container message-container">
          <form class=inlineform>
            <button class=threadbutton formaction="{{ url_for('messages_index', thread=thread.id) }}">> to thread</button>
          </form>
          <b class=thread-title>{{ thread.title }}</b> |
          {% if thread.name == "Anonymous" %}
          <b class=anon-name>{{ thread.name }}</b> |
          {% else %}
          <b class=mod-name>{{ thread.name }}</b> |
          {% endif %}
          {{ thread.date_created }} |
          Thread No. {{ thread.id }}
          <p class="message-text">{{ thread.text }}</p>
        </div>
      </td>
    </tr>
  {% endfor %}
</table>
<hr>

<form>
  <button class=navbutton method="GET" formaction="{{ url_for('threads_create', board=board.id) }}">Create a new thread</button>
</form>

{% if current_user.is_authenticated %}
<form>
  <button class=navbutton method="GET" formaction="{{ url_for('supermessages_create', board=board.id) }}">Create a new boardwide message</button>
</form>
{% endif %}

{% endblock %}
